<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../style.css" rel="stylesheet">
    <title>Students</title>
</head>


<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a th:href="@{/app}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 text-success-emphasis"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="text-success" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
            </svg></span>
            <span class="fs-4 text-success">&emsp; Gestion des inscriptions</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/app}" class="nav-link text-success-emphasis">Home</a></li>
            <li class="nav-item"><a th:href="@{/app/students}" class="nav-link active bg-success" aria-current="page">Students</a></li>
            <li class="nav-item"><a th:href="@{/app/courses}" class="nav-link text-success-emphasis">Courses</a></li>
            <li class="nav-item"><a th:href="@{/app/results}" class="nav-link text-success-emphasis">Results</a></li>
        </ul>
    </header>
</div>
<main >

    <div class="bg-light p-5 rounded">

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-6 fw-bold text-success-emphasis">Students</h1>
            <br>
            <br>
            <button class="btn btn-outline-secondary d-inline-flex align-items-center text-success-emphasis" type="button" ><a th:href="@{/app/newstudent}" class="nav-link text-success-emphasis">Add Student</a></button>
        </div>



        <div class="container">
            <div class="container marketing">

                <div class="table-responsive small">
                    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-success-emphasis">First Name</th>
                <th class="text-success-emphasis">Last Name</th>
                <th class="text-success-emphasis">Email</th>
                <th class="text-success-emphasis">City</th>
                <th class="text-success-emphasis"></th>
                <th class="text-success-emphasis"></th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="etus : ${students}">
                <td th:text="${etus.firstName}" />
                <td th:text="${etus.lastName}" />
                <td th:text="${etus.email}" />
                <td th:text="${etus.city}" />
                <td></td>
                <td class="d-flex justify-content-sm-end align-items-sm-center">
                    <button class=" btn btn-outline-success"  type="button">
                        <a th:href="@{/app/results_student(studentId=${etus.studentId})}" class="nav-link">See Results</a>
                    </button> &emsp;
                    <button class=" btn btn-outline-success"  type="button">
                        <a th:href="@{/app/newresult(studentId=${etus.studentId})}" class="nav-link">Add Result</a>
                    </button> &emsp;
                    <button class=" btn btn-outline-success"  type="button">
                        <a th:href="@{/app/updstudent(studentId=${etus.studentId})}" class="nav-link">Update</a>
                    </button> &emsp;
                    <button class="btn btn-outline-success" type="button">
                        <a th:href="@{/app/deletestudent(studentId=${etus.studentId})}"
                           class="nav-link"
                           onclick="if(!(confirm('Are you sure you want to delete this student ?'))) return false">
                            Delete</a>
                    </button> &emsp;
                </td>
            </tr>
        </tbody>
    </table>
    </div>


            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold text-success-emphasis"></h1>
            </div>
    </div>
    </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>